<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/styles.css">

</head>

<body>
    <h1 class='display-1'>hello user</h1>
    <img src="../public/santa-claus.webp" alt="santa">

    <form>
        <label>First name</label>:<br>
        <input type="text" name="firstname"><br>
        Last name:<br>
        <input type="text" name="lastname"><br>
        username:<br>
        <input type="text" name="username"><br>
        password:<br>
        <input type="text" name="password"><br>
        <button>submit</button>
    </form>
    <form>
        <div class="form-row justify-content-md-center">
            <div class="col-md-3">
                <input type="text" class="form-control" placeholder="First name">
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control" placeholder="Last name">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Sign in</button>

    </form>
    <ul>
        <li><a href="index.html">sign up</a></li>
        <li><a href="index.html">log in</a></li>
        <li><a href="all-wishlist.html">wishlists</a></li>
        <li><a href="my-profile">my profile</a></li>
    </ul>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

</html>